html, body, #root, .App {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.heart {
  color: #ff0000;
}

.small {
  font-size: 0.75rem;
}

.canvas-container {
  width: 100%;
  height: 100%;
  display: block;
  overflow: auto;
}

.output-container 
{
  width: 90%;
  max-width: 100%;
  margin: 0 auto;
  word-wrap: break-word;
  white-space: pre-wrap;
  background-color: #4635cb;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
}